<div class="dashboard-chart">
  <div class="bar svg-container">
    <%= @bar %>
  </div>
  <div class="line svg-container">
    <%= @line %>
  </div>
  <div class="timeline svg-container">
    <%= @timeline %>
  </div>
  <div class="gauge-a svg-container">
    <%= @gauge_a %>
  </div>
  <div class="gauge-b svg-container">
    <%= @gauge_b %>
  </div>
</div>
