/* This file is for your main application css. */
// @import "./phoenix.css";
@import "../node_modules/nprogress/nprogress.css";

@import "../../../chart/priv/static/css/chart.css";
@import "../../../chart/priv/static/css/gauge.css";
@import "../../../chart/priv/static/css/line.css";
@import "../../../chart/priv/static/css/bar.css";

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
}

body {
  --background-default-color: #f8f8f8da;
  --bg-navbar-color: #a5a3a3da;
  --bg-sidebar-color: #dad8d8da;
  --bg-content-color: #dad8d8da;

  margin: 0;
}

.container {
  padding: 2rem 8rem;
  background: var(--bg-color, var(--background-default-color));
}

.grid {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 120px 1fr;
  grid-template-areas:
    "navbar navbar"
    "sidebar content";
  grid-gap: 1rem;
}

.navbar {
  grid-area: navbar;
  padding: 1rem;
  // height: 120px;
  width: 100%;
  background: var(--bg-color, var(--bg-navbar-color));
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  align-items: center;
}

.sidebar {
  grid-area: sidebar;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--bg-color, var(--bg-sidebar-color));
}

.content {
  grid-area: content;
  display: grid;
  justify-items: center;
  align-items: center;
  padding: 1rem;
  background: var(--bg-color, var(--bg-content-color));
  height: calc(100vh - 120px - 5rem);
}

.dashboard-chart {
  grid-area: content;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "bar line"
    "timeline timeline"
    "gaugeA gaugeB";
  grid-gap: 2rem;
  padding: 2rem;
  background: var(--bg-color, var(--bg-content-color));
  // height: calc(100vh - 120px - 5rem);
}

.bar {
  grid-area: bar;
  background: lightcoral;
  width: 100%;
}

.line {
  grid-area: line;
  background: lightcoral;
  width: 100%;
}

.timeline {
  grid-area: timeline;
  background: palegreen;
  width: 100%;
}

.gauge-a {
  grid-area: gaugeA;
  border: 1px solid black;
  width: 75%;
}

.gauge-b {
  grid-area: gaugeB;
  border: 1px solid black;
  width: 75%;
}

.button-chart {
  border-radius: 6px;
  border: 2px solid darkslategray;
  font-family: Arial;
  color: #ffffff;
  font-size: 1.1vw;
  background: #86888a;
  padding: 10px 20px 10px 20px;
  margin: 1rem;
  text-decoration: none;
}

.button-chart:hover {
  background: #6c7275;
  text-decoration: none;
}

.button-dashboard-chart {
  border-radius: 6px;
  border: 2px solid darkslategray;
  font-family: Arial;
  color: darkslategray;
  font-size: 1.1vw;
  background: #fce23c;
  padding: 10px 20px 10px 20px;
  margin: 1rem;
  text-decoration: none;
}

.button-dashboard-chart:hover {
  background: #d1b932;
  text-decoration: none;
}

.img-responsive {
  max-width: 100%;
  height: auto;
}

/* LiveView specific classes for your customizations */
.invalid-feedback {
  color: #a94442;
  display: block;
  margin: -1rem 0 2rem;
}

.phx-no-feedback.invalid-feedback,
.phx-no-feedback .invalid-feedback {
  display: none;
}

.phx-click-loading {
  opacity: 0.5;
  transition: opacity 1s ease-out;
}

.phx-disconnected {
  cursor: wait;
}
.phx-disconnected * {
  pointer-events: none;
}

.phx-modal {
  opacity: 1 !important;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.phx-modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.phx-modal-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.phx-modal-close:hover,
.phx-modal-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Alerts and form errors */
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert p {
  margin-bottom: 0;
}
.alert:empty {
  display: none;
}
